
    body {
        background-color: #9DC08B;
        text-align: center;
        
    }
    hr{ 
        border-top-style: ridge;
        border-top-width: 3px;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        height: none;
        width: 30%;
        padding: none;
    }
    table{
        margin: 0 auto;
    }
    img{
        border-style: ridge;
    }